[2022-02-21 09:21] jroachell15 opened #1 "[MPI_Resources_bug]: runnning the model gives an error #409"
Original ticket: https://github.com/INWT/mpi-resources/issues/409

running the Montecorvino and San Lorenzo Single Values file (attached) and then, after a while, I received this error (attached figure). I tried twice and the same happened. (file is here: https://drive.google.com/drive/folders/1f_vifZAmXYX4djgiWCEKMtHvOwTp8NRJ)

![image](https://user-images.githubusercontent.com/73887426/152498896

[2022-02-21 09:24] jroachell15 opened #2 "[MPI_Resource_ bug]: when switching datasets the covariates still remain visible #408"
original ticket: https://github.com/INWT/mpi-resources/issues/408

Carlo, Ricardo's research assistant first reported the bug:

I loaded the Montecorvino and San Lorenzo file (attached) and then I loaded the Capitanata mean values file (also attached). The prior options for the first file when it comes to covariates remained visible.

the files for testing are here: https://drive.google.com/drive/

[2022-02-21 09:27] jroachell15 opened #3 "[MPI_task2022]: Resources. reset button that resets the contents of that table only. #407"
ReSources (~ 3 h)
Original ticket: https://github.com/INWT/mpi-resources/issues/407

For each input table a reset button that resets the contents of that table only. The default scale for all estimates should be between 0 and 100.

[2022-02-21 09:31] jroachell15 opened #4 "[FOR ALL MPI APPS ]: Use of frames to make the interfaces easier to navigate (1,5 days) #401"
original ticket: https://github.com/INWT/mpi-resources/issues/401

All apps (current and future): use of frames to make the interfaces easier to navigate. At the moment model/graphical options are in the same frame as the results output (e.g. maps) and when one has to scroll down model/graphical options the output is no longer visible. Frames should be used for all apps to separate different input

[2022-02-21 09:35] jroachell15 opened #5 "[MPI_erweiterung_priority_055]: ReSource. Help button should point to online pdf file with a fixed filename and available in an online directory #390"
Original ticket: https://github.com/INWT/mpi-resources/issues/390

The current apps now have help buttons that once pressed show an outdated or no text. Instead, these should point to an online pdf file with a fixed filename and available in an online directory. Also to be implemented in new apps. This pdf file should also be accessible in the Desktop version, provided, of course, there is an inte

[2022-02-21 09:41] jroachell15 opened #6 "[MPI_erweiterung_priority_048]: ReSource. Save and load files fully describing models plus a text describing model #389"
original ticket: https://github.com/INWT/mpi-resources/issues/389

User will be able to save and load files fully describing models plus a text describing the model (text entered by user before saving) for apps ReSources /OsteoBioR /Bpred/ IsoMemo models.
- [x] The saved files should be loadable directly into R so that a user may execute the models within the R environment
- [x] (this should inclu

[2022-02-21 09:44] jroachell15 commented on #6
full update here: https://github.com/INWT/mpi-resources/issues/389

the latest update:
Just talked with @aneudecker: the feature of down/uploading a model was implemented before the "hidden tabs" (1) were added by @mgross. Most likely it is a missing feature that all inputs of the "hidden tabs" (3) are updated after uploading a model object (2).

![image](https://user-images.githubusercontent.com/

[2022-02-21 09:53] jroachell15 opened #7 "[MPI_Erweiterung_Priority_029]: ReSources (new old tasks) Update the current output strings for OxCal #364"
original ticket: https://github.com/INWT/mpi-resources/issues/364

# Update the current output strings for OxCal (see previous discussion on bug 77).

summary updates:

Andreas developed most of this feature, Antonia is now in charge.

# Instructions for Oxcal implementations
@aneudecker Here are some detail instructions / recommendations of how Ricardo thinks this feature should be implemented: h

[2022-02-21 09:54] jroachell15 commented on #7
Latest updates by @arunge
- [ ] Feedback regarding first draft for Oxcal:

- rename checkbox to: "Show interface for Oxcal export support"
- rename in tab select name to: "Oxcal export"
- add quotation marks, "Aquatic1" should be "Aquatic2", NA`s even if data exists in corresponding columns
![image](https://user-images.githubusercontent.com/16759098/153901464-2f3c059d-9361-4d35-8d3d-af1a3b403033.p

[2022-03-02 13:55] arunge commented on #2
The bug was fixed on beta and main.
Only the input fields were not updated, the values in the backend had been updated always when data was uploaded.
In Shiny values of NULL will not lead to any updates of the choices parameters, see https://github.com/Pandora-IsoMemo/resources/pull/9#issue-1157208899.

[2022-03-02 13:55] #2 closed

[2022-03-03 09:29] arunge commented on #2
@isomemo The same issue occured in the tab "User estimates" for the corresponding select input fields. Maybe, this was the reason, that it looked like the reset button worked not correctly?
This issue in the tab "User estimates" was fixed within this changes, also.

[2022-03-14 11:19] arunge commented on #1
@mgross pushed some changes https://github.com/Pandora-IsoMemo/resources/commit/f9ac34f8cca5444477502b88e0d789ab2a32c1da to the main that hopefully will solve the problem here.

[2022-03-15 09:42] arunge commented on #1
@isomemo we added a fix to both [main](https://isomemoapp.com/app/resources) and [beta](https://isomemoapp.com/app/resources-beta)
Could you test if the problem mentioned [above ](https://github.com/Pandora-IsoMemo/resources/issues/1#issue-1145530130) still occurs?

[2022-03-25 08:19] jroachell15 opened #12 "[resource_bug]: model cannot be uploaded and app crash when deleting a column"
@arunge
I try to debug one of the issues with Carlo, the research assistant of Ricardo, when he reported that there was a problem with uploading and editing the rows/columns.

Carlo's email: @CarloCocozza
_**I wanted to create a thread on github for this, but I cannot attach RData files there.

In ReSources, in both online and local versions, the app crashes when I try to edit or delete rows/colum

[2022-03-25 09:02] arunge commented on #12
@jroachell15 The file you linked for uploading is not a `.zip` file, but an `.RData` file.

![image](https://user-images.githubusercontent.com/16759098/160086286-7f215bc4-c7c0-40f4-84ee-c5ddaaae1656.png)

Currently, the app expects a .zip file, e.g. (1) that was previously generated by downloading a model with the following content (2):

![image](https://user-images.githubusercontent.com/16759098/

[2022-03-25 09:24] arunge commented on #12
@jroachell15 : I will update the pop up contnent as discussed.

[2022-03-25 09:54] jroachell15 commented on #12
@CarloCocozza

Please upload the model again (in zip file format) here: https://drive.google.com/file/d/1DYtUav182B_WQ8MEaN1iHuQvasG1gNAy/view?usp=sharing

I have also tried to enter new fields into the Covariates table and it looks fine, but I DO confirm that the app crashes when I try to delete a column:
![image](https://user-images.githubusercontent.com/73887426/160097756-84ff969f-ad31-4bc7-ace

[2022-03-25 10:56] CarloCocozza commented on #12
@jroachell15 How can I convert the RData into zip file? I tried some online convertors but this didn't work. Also, is this why in the beta version I could not upload a previous saved model?

[2022-03-25 11:22] arunge commented on #12
I updated the text of the pop up with version 22.03.7.

[2022-04-11 10:58] arunge opened #15 "Refacter UI for "Prior Info" and "User Estimates" ??"
To summarize:

Additional options for the tabs "Prior Info" (2) and "User Estimates" (3) were added if a particular model type (1) is selected and if covariates are enabled (4).

In general, with the new options (2,3) the user interface gets even more complex. I would like to rework the UI in both tabs, by grouping some inputs and add a new input for selecting a group. I will ask @isomemo if there

[2022-04-12 11:20] arunge commented on #15
@isomemo as just discussed:
- we will leave the select inputs fields in the the UI "Prior Info" and "User Estimates"  as they are (see [above](https://github.com/Pandora-IsoMemo/resources/issues/15#issue-1199795428) 2, 3)

#### Regarding the UI of the general side bars as they are available on the beta right now, there is the following to do:

- change the order of (1) and (2) and shift it to the

[2022-04-13 07:33] jroachell15 commented on #12
@CarloCocozza did you solve this issue? there are three files that needs to be in the zip file (the modelRdata, readMe.txt, and help.html), these additional files can be made with text editor. highlight the 3 files, and right click, then there is an option to make them into a zip file. Let me know if this is successful. Thanks!

if there is no more issues, I will close this ticket.

[2022-04-13 15:15] CarloCocozza commented on #12
@jroachell15 I apologise, I thought you uploaded the zip file already! I only have the modelRdata, what readMe.txt and help.html files do you need? and how do I get these from the model? I was not using the beta version for that model because I could not upload the modelRdata file there with the new update. Anyway, as you also noticed, this bug was systematic and not model-related.

[2022-04-14 07:07] jroachell15 commented on #15
yea i think that's all. If you want to see the recorded video, just let me know! @arunge

[2022-04-26 09:29] arunge commented on #6
The **UI** and the **logic** of the feature to upload/download models is also targeted in https://github.com/Pandora-IsoMemo/resources/issues/15#issuecomment-1096594801. It will be continued there in #15

@isomemo I close this ticket here.

[2022-04-26 09:29] #6 closed

[2022-05-20 12:47] CarloCocozza opened #16 "ReSources (BETA) Bug: Model saved files are empty and app crashes after running"
Hi @arunge ,
So I created a model in ReSources (Beta) and I saved it using the Download button on the right side. I saved it at different steps. However, I then tried running the model and the app crashed after running smoothly. So I loaded again the saved models and I found out that these were empty.

That model was identical to the other one I have now attached (Full Model). This time instead, t

[2022-05-20 13:25] CarloCocozza commented on #16
I recreated the same model in the normal online version of ReSources and I still face the same crashing problem.
Moreover, I did this also offline via R and this is what I receive as error:

![Bug Offline Version](https://user-images.githubusercontent.com/101706974/169537291-68741a82-e2a4-4851-8de4-565979506f81.PNG)

[2022-05-20 13:58] arunge commented on #16
@CarloCocozza Thanks for reporting this bug. I will look into it soon.

[2022-05-23 19:04] arunge commented on #16
@mgross I tried to fix the bug, but when fixing one error, another occurs. Since, it would take me quite long to understand all your transformations, such that I could fix the bug, could you have a look and find the reason?

I extracted the part of the code that produces the error into a function
https://github.com/Pandora-IsoMemo/resources/blob/da962772145ae38805fe3fcb4dac6920643685fc/R/04-modelS

[2022-05-23 19:06] arunge commented on #16
@CarloCocozza Do you mean with

different model specifications?

Is the bug described in https://github.com/Pandora-IsoMemo/resources/pull/18#issue-1245550835 the one you found?
I could not reproduce your error message.

[2022-05-23 19:07] CarloCocozza commented on #16
Dear @arunge and @mgross ,

As a follow up, I have also tried by removing user estimates and prior. The bug is still present for that model.

Additionally, I report that when I removed user estimates from that previously saved model, user groups could not be removed (although they were empty). I attach a screenshot of this.

![BUg group estimates](https://user-images.githubusercontent.com/10170697

[2022-05-23 19:10] CarloCocozza commented on #16
I meant that I saved the same model more times when I was building it. So I saved a model after building the data, then I saved an updated version when building the priors and so on. It was just a way to be sure that, if the model crashed suddenly, I should not have started from the beginning. This was done in the same session of model building (so to be clear, I did not close the app and then sta

[2022-05-27 09:30] mgross commented on #16
I will look on Monday into this.

[2022-05-30 10:01] mgross commented on #16
@arunge I created a new pull request:
https://github.com/Pandora-IsoMemo/resources/pull/20
That should solve the issue

[2022-05-30 12:10] arunge commented on #16
@mgross Thanks! I will check your fix and return to you in case of questions. If all is solved, I will merge it to the beta version.

[2022-05-30 15:14] arunge commented on #16
@CarloCocozza We fixed the bug with the `fullData.zip` file with version 22.5.1, for details see
- https://github.com/Pandora-IsoMemo/resources/pull/18#issue-1245550835

With version 22.5.2 I added the option to down- and upload model objects that do contain only the model inputs but not the model ouptut, for details see
- https://github.com/Pandora-IsoMemo/resources/pull/19#issue-1248163022

Now

[2022-05-30 15:22] isomemo opened #21 "Error in simple two-end member model"
I have a simple two end model:
a) One individual with proxy 1 (only proxy) value of 5 (no uncertainty)
b) Model without concentrations or components (all other model options as default)
c) Two food sources with values for proxy 1 of 0 and 10

Running the model the following error in thrown:

Could not run model. Received the following error: Error in colMeans(allsamples[, grepl("mu\\[", colnames(a

[2022-05-30 15:27] isomemo opened #22 "Selecting numeric variables under a covariate model"
I loaded the "Five sources data" example
In Enter covariates I added a new column (named "sequence") with entries "1,23,4,5".
In "Model options" under "Select numeric variables" I selected the created column "sequence. This caused the app to crash.

[2022-05-30 15:46] arunge commented on #22
I tried to reproduce your example but I could not. With the "Five sources data" example on both versions of the app (main and beta):

1. when adding the new column
![image](https://user-images.githubusercontent.com/16759098/171024610-7a3d6836-67ca-4b7a-adf4-11df951d90e2.png)

- with **default model options** but following numeric variable:
![image](https://user-images.githubusercontent.com/1675909

[2022-05-30 18:57] isomemo commented on #22
I also cannot reproduce this now!

[2022-05-30 19:12] isomemo opened #23 "Update the interface"
![Clipboard02](https://user-images.githubusercontent.com/46485054/171049210-8b1f2591-b31b-43f2-8b1f-300f929c7346.png)

[2022-06-01 21:59] isomemo opened #25 "Target & Source summary"
I selected the 5 sources example. Under "Model characteristics" I performed a simulation for all sources. Following this, I selected "Target & Source summary" and got the following error:

length of 'dimnames' [2] not equal to array extent

[2022-06-01 22:02] isomemo opened #26 "Labels"
Under "Model characteristics" for the button "Specify food intakes" rename it as "Specify source contributions". Open the window by pressing the button.

Replace all words "food(s)" by "source(s)" and "intake(s)" by "contribution(s)"

[2022-06-02 13:02] arunge commented on #16
@CarloCocozza With version 22.5.3. of the **beta** app the issue with removing user estimates mentioned in https://github.com/Pandora-IsoMemo/resources/issues/16#issuecomment-1135039149 should be fixed.

Regarding:

Is there any bug in the "Prior Info" tab? Or is everything fixed now?

[2022-06-02 13:17] arunge commented on #16
@isomemo the bug fixes mentionend in this issue are currently only available for the **beta** version because some fixes require the up/download functionality of model objects.

Should we merge the current beta version into the main version? Besides the bug fixes, we would add the following features to the main:
- updated version of the oxcal output: https://github.com/Pandora-IsoMemo/resources/is

[2022-06-02 13:23] isomemo commented on #16
If there is no additional work for doing two mergers please go ahead and do a merger now.

[2022-06-02 13:42] arunge commented on #26
available with version 22.06.1 on main and beta.

[2022-06-02 13:42] #26 closed

[2022-06-02 13:43] arunge commented on #16
Ok, thanks @CarloCocozza for helping here!

[2022-06-02 13:43] #16 closed

[2022-06-03 06:54] #22 closed

[2022-06-03 10:28] arunge commented on #5
An updated version of this task will be part of the new tasks. New Buttons "About" and "Help" should point on pdf files that will be stored at github.

[2022-06-06 10:44] CarloCocozza opened #29 "Wrong display of results"
[2022-06-06_12_37_24_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8843776/2022-06-06_12_37_24_fruitsModel.zip)
![Bug protein](https://user-images.githubusercontent.com/101706974/172145506-01457d4a-0971-4428-ae6f-65cfe0dbd703.PNG)

For the attached model, I have 4 user estimates groups. When I select group "protein" in Output -> Select group of estimates -> User Estimates Pro

[2022-06-06 10:49] CarloCocozza commented on #29
The same problem takes place for the summary results.  as you can see in the attached file, the Protein contribution estimates also include estimates from the group macros.

[isotopeData (2).xlsx](https://github.com/Pandora-IsoMemo/resources/files/8843832/isotopeData.2.xlsx)
@arunge

[2022-06-06 10:53] CarloCocozza commented on #29
I think that the previous might be related with naming since the macros estimate which is being erroneously included is named "Macros.ProteinMAcros". Grouping should be based on indices not naming.
@arunge

[2022-06-06 11:00] CarloCocozza opened #30 "Bug with Priors"
![bug prior 2](https://user-images.githubusercontent.com/101706974/172148419-f75b11db-c7b5-4e8b-9426-59d1dafe1a99.PNG)
![Bug priors](https://user-images.githubusercontent.com/101706974/172148423-50e0faa4-710b-4e2d-9ee6-0d5a782f4dfa.PNG)
[2022-06-01_17_32_45_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8843899/2022-06-01_17_32_45_fruitsModel.zip)

For the attached model, I ge

[2022-06-06 11:27] CarloCocozza opened #31 "potential Bug with covariate estimates"
[2022-06-06_13_25_02_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8844028/2022-06-06_13_25_02_fruitsModel.zip)
For the attached model, the estimates when running a model without covariates are similar for the two included targets. However, if running the model again with covariates the new estimates differ considerably with the previously.

@mgross
@arunge

[2022-06-06 12:17] CarloCocozza opened #32 "Bug when deleting targets"
For the attached model, when I delete the target named "cluster 1", I get the error shown in the attached image.
[Tertiveri Model.zip](https://github.com/Pandora-IsoMemo/resources/files/8844377/Tertiveri.Model.zip)
![Bug concentrations](https://user-images.githubusercontent.com/101706974/172158992-f8208cb4-4a31-4ca1-a697-f9ef466069a6.PNG)

@arunge

[2022-06-06 12:32] CarloCocozza opened #33 "Copy paste bug"
![Bug copy paste](https://user-images.githubusercontent.com/101706974/172159501-b8bf6761-1a43-463f-bd76-05db02b127b1.PNG)
[Tertiveri Model.zip](https://github.com/Pandora-IsoMemo/resources/files/8844398/Tertiveri.Model.zip)

For the attached model I pressed the button copy to copy the values for the covariance matrix (under "target & target-to-source offset"). When I try to paste these elsewhere t

[2022-06-06 12:33] CarloCocozza opened #34 "Bug when changing names of target"
[2022-06-06_14_26_05_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8844472/2022-06-06_14_26_05_fruitsModel.zip)
![Bug change name](https://user-images.githubusercontent.com/101706974/172161360-9340ea32-4e26-406e-a91d-f5d4d6024671.PNG)

For the attached model I changed the name of the Target frm "cluster 1" to "cluster 2" and I got the error showed in the attached image.
@arun

[2022-06-06 12:35] CarloCocozza opened #35 "Empty loaded model again"
[2022-06-06_14_26_05_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8844494/2022-06-06_14_26_05_fruitsModel.zip)
![Bug saving](https://user-images.githubusercontent.com/101706974/172161678-025d54cb-d639-426f-909a-cf7ec5710d63.PNG)

I got a new empty model error again for the attached file.

@arunge

[2022-06-06 14:36] CarloCocozza opened #36 "Potential bug related with estimates using covariance matrices"
[2022-06-06_16_28_47_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/8845120/2022-06-06_16_28_47_fruitsModel.zip)

For the attached model, the estimates for source "C4 cereals" for the target "cluster 1" should be larger than "cluster 2" while the reverse should be the case for the source "marine resources".

When using normal distributions for the targets, the above is observe

[2022-06-06 16:01] CarloCocozza opened #37 "Bug with User estimates"
[Cluster 1.zip](https://github.com/Pandora-IsoMemo/resources/files/8845744/Cluster.1.zip)
[Cluster 2.zip](https://github.com/Pandora-IsoMemo/resources/files/8845745/Cluster.2.zip)

For the attached models, "User estimates Calories", "User estimates Protein", "User estimates Carblipds", and "User estimates Macros", show unrealistic values. These also are not normalized. However, this does not happe

[2022-06-07 08:01] arunge commented on #31
@mgross Could you check this issue, since it is reltatet to the model and model results?

[2022-06-07 08:34] arunge commented on #15
This will be continued in #23.

[2022-06-08 12:24] jroachell15 commented on #30
@CarloCocozza @arunge

I confirm that you do indeed get this warning message, however I don't know whether this is a bug. This says please check your priors. These two priors, what do they mean?
![image](https://user-images.githubusercontent.com/73887426/172615380-2b73c596-3e32-4b6a-913e-f47f1c2c2c3c.png)

@mgross maybe you can help comment on this? thanks!

[2022-06-08 12:44] jroachell15 commented on #33
@CarloCocozza I have tried to copy and paste functino from the table you indicated and it seems to be fine with me as I pasted the table into the first two tables:

![image](https://user-images.githubusercontent.com/73887426/172618658-916ff0b6-2433-4a9d-9e2f-b0867724bcb6.png)

First of all, after the paste, the first column is not empty bc the 0.55, -0.32, -.18 values still are pasted. correct?
wh

[2022-06-08 12:54] jroachell15 commented on #34
@CarloCocozza @arunge

I do confirm that this could be a bug, when you change the name from cluster 1 -> cluster2, the model dones't run.

@mgross is the function string sensitive so when the user change the name of the target, the model fails?

[2022-06-09 13:17] CarloCocozza commented on #30
@jroachell15 These priors were set by Ricardo. However, they were set using the categories below in the prior section. So I guess it is a bug.

[2022-06-10 14:17] mgross commented on #34
@jroachell15 That is an interface problem, not a model one. When changing the name to cluster2; the source values get lost somehow (all NA) although still displayed in the app.

[2022-06-10 14:24] mgross commented on #34
I.e. values$source in the server01.R is all NA:

Browse[1]> values$source
$default
$default$Cluster2
$default$Cluster2$D13C
          Protein LipidsCarbohydrates Bulk
C3             NA                  NA   NA
C4             NA                  NA   NA
Cattle         NA                  NA   NA
Ovicaprid      NA                  NA   NA
Pig            NA                  NA   NA
Poultry        NA

[2022-06-10 14:43] mgross commented on #25
I couldn't replicate the error with 22.6.1

[2022-06-10 15:00] isomemo commented on #25
I got again the same error. See this video: https://youtu.be/KgcqB5R3-7g

Did you try this on 22.6.1 Beta version?

[2022-06-10 15:14] mgross commented on #37
Thanks for reporting, that was a edge case when you selected the first model type (info shared). Will be fixed in next version

[2022-06-10 15:16] mgross commented on #32
The second error is technically correct, you cannot estimate a hierarchical model with only one individual (as hierarchical means that individuals have sth in common)

[2022-06-10 15:18] mgross commented on #29
This is fixed in the next version

[2022-06-10 15:19] mgross commented on #30
Fixed in the next version

[2022-06-10 15:26] mgross commented on #36
The model code seems correct to me. There is strong correlation in the covariance matrix, thus different results can very much be. (you can enforce your knowledge by priors, though)

[2022-06-11 09:00] mgross commented on #31
Additional remark:
According to https://arxiv.org/pdf/1504.02689.pdf  0.8 * 1/nSources is the optimal objective prior (1/7 * 0.8 ~ 0.114) for the dirichlet. For this, the results are virtually the same for both models.

[2022-06-11 12:14] isomemo commented on #31
@mgross

Thanks Marcus! Would you recommend in general the use of an objective prior?

Also, I am preparing a list of new tasks for INWT, I had included the possibility of the  user assigning individual hyperparameter values for the dirichlet (with number of inputs matching number of sources). Currently only a single uniform value can be assigned. In addition, we could have some main options to se

[2022-06-14 13:19] arunge commented on #29
Thanks @mgross for supporting here. This is fixed with version 22.6.2, currently available on the beta: https://isomemoapp.com/app/resources-beta; soon also on the main.

![image](https://user-images.githubusercontent.com/16759098/173586431-2976a5d0-b72e-412b-943e-f83e8b1dd47a.png)

@CarloCocozza I am closing here. If there is anything left, just reopen again or open a new issue.

[2022-06-14 13:19] #29 closed

[2022-06-14 13:21] arunge commented on #37
The fixes are available on the beta branch: https://isomemoapp.com/app/resources-beta
@CarloCocozza Could you check if all is correct now?

[2022-06-14 13:30] arunge commented on #1
@isomemo Could you please check if all here is correct now? If you do not request any further adjustments, we will close this issue in one week.

[2022-06-14 14:08] #35 closed

[2022-06-15 12:42] CarloCocozza commented on #37
@arunge This looks correct to me now. Thanks!

[2022-06-15 12:43] #37 closed

[2022-06-15 12:49] CarloCocozza commented on #30
@arunge just checked this other issue. It runs now, thanks!

[2022-06-15 12:56] #30 closed

[2022-06-20 09:15] isomemo commented on #7
I have been testing this! Until now all looks good!

[2022-06-20 09:18] isomemo commented on #1
According to Carlo this is now working!

[2022-06-20 09:19] isomemo commented on #21
Working now!

[2022-06-20 18:29] #1 closed

[2022-06-20 20:30] isomemo commented on #7
I noticed now some problems not arising in previous tests. I tested models with only individuals and just two curves. Now using the 5 sources example I noticed the following:

1) The estimates should be only for targets (not categories). Now, all are all listed.
2) Under "Terrestrial curve" I selected the third option and the app crashed.
3) If I select options for "Aquatic curve2" the code being

[2022-06-20 20:32] isomemo commented on #7
@arunge

Yet one more thing, the estimates are being included in the interval 0 to 1 but they should be included as percentages (multiply current values by 100)

[2022-06-21 08:20] #21 closed

[2022-06-21 08:23] arunge commented on #21
Merge beta with fixes into main. Available with version: 22.06.3

[2022-06-23 08:57] arunge commented on #34
@CarloCocozza This bug _might_ be **related to automatic updates** of fields that share dependent information.

**Before** the name change we have following data using your example file:
target | sources | concentrations
---|---|---
![image](https://user-images.githubusercontent.com/16759098/175252725-e5684267-6a2b-485f-8bd9-57bb9ce2a749.png)|![image](https://user-images.githubusercontent.com/1675

[2022-06-23 11:01] jroachell15 commented on #33
@CarloCocozza

thanks for your patience. I am still not successful. the only issue I saw was when i try to paste the values back into the `Observation - Target Covariance Matrix` which indeed has a copy paste problem. @arunge please let me know if this copy and paste issue can be fixed for the this table?

[2022-06-24 09:37] #4 closed

[2022-06-29 12:22] jroachell15 commented on #33
@CarloCocozza

We have successfully fixed the copy and paste bug. Please test the Beta version with the same dataset here:

https://isomemoapp.com/app/resources-beta

will close this issue, if you don't find any other bugs with this.

[2022-06-29 12:26] #33 closed

[2022-06-29 14:36] jroachell15 commented on #32
@mgross so is this a graphical / diaplay issue or an input-model issue?

[2022-07-01 12:30] mgross commented on #34
@arunge that shouldn't be dependent on the model type. With "Individual targets (partially shared info)" there is only 1 source/concentration array/matrix for all individuals. For the baseline models there are source/concentration values for each individual seperately. That probably causes the issue. (All the automatic update stuff is not easy to change and not very robust, maybe wait until Andrea

[2022-07-01 12:59] mgross commented on #31
Ok, this wasn't that much work:
I introduce a checkbox "optimal objective prior" (checked as default, now results are more extreme in general as prior is much weaker and the data has more influence). If selected the hyperparameter (prior) value choice box disappears and 0.8*1/nSources is internally used as alpha vector.

@arunge I made a pull request into beta

[2022-07-01 13:06] isomemo commented on #31
@mgross thank you! I would like to ask you to do one more thing (please use time from our contract). Can you please give the user the option of assigning hyperparameter values by source? At the moment the user can only assign the same value to all sources.

The default value for all should remain 1.

The difficulty, I would imagine, is that users may change the number of sources after assigning th

[2022-07-07 12:39] CarloCocozza opened #43 "Bug not showing outputs in Beta version"
For the attached model (but actually I also tried to load an example model), once the model is run, nothing happens when clicking on the different options of the "Output" button. However, when clicking on "Summary Statistics", these are shown, which means that the model run correctly.

This only happens for the current beta version (22.7.2) but not for the regular version (22.6.4).

[2022-07-07_13

[2022-07-08 09:03] isomemo opened #44 "URGENT: interface links malfunction/saved files not working"
@arunge I am having problems again with the automated updates in ReSources. As I requested previously please shut these down unless essential.

From my understanding, automated data links are ONLY needed for:

Option to select Proxy under Sources under the tab "Data"
Prior info names
User estimates names

Other than for these elements there should be no data links!

- [ ] **Point 1**

If a user ha

[2022-07-11 11:36] arunge commented on #44
@isomemo The name changes in point 6 would also affect other tables. Is this desired, (1), (2), (3)?

![image](https://user-images.githubusercontent.com/16759098/178254955-7fdb7a44-7771-448d-8d22-e24518b6212d.png)
![image](https://user-images.githubusercontent.com/16759098/178255154-7dfa754e-fd12-4c00-89e1-8bee4e9be2d1.png)

[2022-07-11 11:53] ldv1452 commented on #44
@arunge I do not want to cause additional link issues and if so we can drop name changes. However, are these names truly being linked? I had requested before that these links were turned off (as with tasks above)

[2022-07-11 14:38] arunge commented on #44
### "Sources" tab
- `targetNames` are used as default column names:
https://github.com/Pandora-IsoMemo/resources/blob/4d77448eded3c4fe6ec0a507d4340b932a41aaaf/R/01-ui.R#L165-L169

### "Concentrations" tab
- the default column names are also the `targetNames`:
https://github.com/Pandora-IsoMemo/resources/blob/4d77448eded3c4fe6ec0a507d4340b932a41aaaf/R/01-ui.R#L210-L216

I changed the `targetNames`

[2022-07-11 15:16] isomemo commented on #44
Ok! But these are just default names, right? That is, they are just strings being displayed without having an impact in the structure of the tables and subsequent modelling?

Given the urgency of the project it is important to fix ReSources. I can use the model with the names as they are above, if necessary. But is the main issues (concerning the deletion of columns) fixed?

[2022-07-11 16:27] arunge commented on #44
Unfortunatelly, I could not identify the source of the problem yet. But I am trying to find the part causing the error.

[2022-07-11 16:51] arunge commented on #44
@isomemo With version [22.07.3](https://isomemoapp.com/app/resources-beta) I fixed a bug in the source tab that caused the app to crash when uploading data. The bug only occurd if weights == 0 existed. Maybe this could explain the "randomness"?
Could you test uploading the file under Point 5? It worked when I tested it. Could you check the tab "Sources" carefully after the upload, and see if all i

[2022-07-11 17:17] isomemo commented on #44
@arunge I managed to load the file but I am not fully certain that the randomness is only related with weights==0.

Interestingly I could load the model with all data inputs. This suggest that the error with the disappearing columns did not erase the data. However, since I have additional models fixing this remains a priority.

Furthermore, and unfortunately, I could not run the model. I got this

[2022-07-12 07:48] jroachell15 commented on #32
@CarloCocozza does that make sense what Marcus said? have you given it a try with "non-hierarchical models"?

[2022-07-12 11:12] arunge commented on #12
Update and note for me regarding:

from https://github.com/Pandora-IsoMemo/resources/issues/12#issue-1180482323

The issue also occurs simply with the example data: "Five Sources Data". Trying to delete the column `country` directly after loading the data leads to a crashing of the app. I could identify, at which point the error occurs:

- deleting `Nitrogen` in the first table works as expected,

[2022-07-12 12:22] CarloCocozza commented on #32
![Immagine 2022-07-12 142128](https://user-images.githubusercontent.com/101706974/178488419-29e73966-ab65-4b34-a733-e5ac59ed5c8a.png)

I get this error. I have also removed all priors and user estimates, but I still get this.

[2022-07-13 08:00] jroachell15 commented on #32
@mgross is there documentation for these model somewhere on how to use them? even myself, i dont know how they work or utilize them. Maybe if its good to write some documentation on how to use them to avoid the error messages.

[2022-07-14 10:11] jroachell15 commented on #3
After `browser()` the code,

I find the `vars` mapping of the list that populate the tables:
![image](https://user-images.githubusercontent.com/73887426/178718740-eb36ded2-6fa9-4d64-8ef5-a17124ec12fa.png)

@arunge next step I need help breaking down the data structure of the individual tables, then finally apply the `reset` button to each table.

something like this:

reset <- function(table){
inp

[2022-07-14 12:43] isomemo commented on #44
@arunge thanks for the update! I would be happy to follow your suggestions and alternatives to what I have proposed. We can discuss these or please send me a description. I will include these in the new contract although in the meantime you can take time from previous contract. I have two many requests:

1) This is, I believe, the 5th time that I am going to invest to fix repeating major interface

[2022-07-14 13:50] arunge commented on #12
Already there, but the default is to store everything:
![image](https://user-images.githubusercontent.com/16759098/178996712-6cd0b2fb-b620-4cdc-9386-41cbca87eb81.png)

The version number is currently already stored in the model object. I will print the version number inside the message box _with the **next** update_:
![image](https://user-images.githubusercontent.com/16759098/178997351-6b2220ad-1f

[2022-07-14 13:50] #12 closed

[2022-07-15 13:56] arunge commented on #23
@isomemo I updated the interface with version 22.7.5. It is very close to the desired changes above. However, I had to shift up/dowload to the left panel in order to add the frames feature. With shiny this works much better if one uses only one left sidebar. Now, when you scroll in the main panel the sidebar remains fixed.

For more details see here: https://github.com/Pandora-IsoMemo/resources/pu

[2022-07-18 10:14] isomemo opened #48 "MCMC model options bug"
@mgross

I ran this model without a problem using default MCMC options:
[2022-07-18_11 52 42_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/9131123/2022-07-18_11.52.42_fruitsModel.zip)

I then changed the MCMC options (values in figure below) and got the following error:

![image](https://user-images.githubusercontent.com/46485054/179490905-96a2d9fa-ad22-4fb9-be11-8127fce01602

[2022-07-18 10:19] isomemo opened #49 "Display bug"
@arunge

In the new ReSources interface the left panel is not fully visible and cannot be scrolled:

![image](https://user-images.githubusercontent.com/46485054/179491580-119e3577-d688-44e9-9b16-8c48f4cfceda.png)

Also please rename "Load model" to "Load local model" and move this option above "Select example model"

Finally, rename "Select example model" as "Load online model"

[2022-07-18 10:35] isomemo opened #50 "IMPORTANT question on convergence chains"
@mgross Please confirm that estimates are made for full MCMC options. I ask this since:

1) If I export convergence chains these contain 10,000 steps
2) The convergence graph shows 2,000 steps
3) Please also confirm, just to be 100% certain, that burn-in in steps are not included in graphs/exported chains

[2022-07-18 10:45] isomemo commented on #48
@mgross I narrowed down the issue. It seems to be related only with the number of chains

[2022-07-19 09:48] jroachell15 commented on #3
@arunge transfer this task to you. work with this branch: https://github.com/Pandora-IsoMemo/resources/tree/feat/3_resetButton

[2022-07-21 08:35] arunge commented on #44
@isomemo Please note: https://github.com/Pandora-IsoMemo/resources/pull/51#issuecomment-1191198523

That is, I will only manage to merge the fix regarding Point 3 after my holidays, that is in around three weeks from today on.

[2022-08-01 11:04] isomemo opened #52 "Bug for Target & Source summary under Model characteristics"
@mgross  See error below when trying the model "5 sources data":

![image](https://user-images.githubusercontent.com/46485054/182134754-82a6ed00-6580-48f4-8a5d-a9966f441d27.png)

[2022-08-03 13:09] CarloCocozza opened #53 "Model not saved correctly"
[2022-08-03_14_52_17_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/9251542/2022-08-03_14_52_17_fruitsModel.zip)

For the attached model, "Target&Target-to-Source Offsets" and "Components" table appear blank when the model is loaded. When this was saved, mentioned tables presented values.

@arunge

[2022-08-03 13:24] CarloCocozza commented on #53
Update:
This also happened for this other model. I have been using the beta version.

[2022-08-03_15_22_22_fruitsModel.zip](https://github.com/Pandora-IsoMemo/resources/files/9251692/2022-08-03_15_22_22_fruitsModel.zip)

[2022-08-04 15:41] mgross commented on #50
@isomemo:

1 + 2.: It can be confusing, but is logical. One Example:

Five Sources model 3 chains, 10.000 iterations and thinning of 10. For each parameter you have 3 * 10000/10 = 3000 iterations eventually.
So in Model Diagnostics, if you choose e.g.
Select group of estimates --> Source contributions
Display by -->Estimate
Select category ..>Target
Target-> Individual 1
Select estimates: Herbivor

[2022-08-04 15:41] mgross commented on #52
@isomemo Fixed in beta 22.08.1.0

[2022-08-04 15:42] mgross commented on #48
@isomemo fixed in beta 22.08.1.0 (was introduced with BIC-measure)

[2022-08-04 17:02] isomemo commented on #48
Thanks!

[2022-08-04 17:02] #48 closed

[2022-08-04 17:02] isomemo commented on #52
Thanks!

[2022-08-04 17:02] #52 closed

[2022-08-04 17:04] isomemo commented on #50
All is clear now! In a new task the user will be able to select how many draws are to be shown.

[2022-08-04 17:04] #50 closed

[2022-08-10 09:42] jroachell15 opened #54 "[MPI_WP2]: 7. ReSources"
- **For the app ReSources, the data tables to be displayed** now to be stored in GitHub (fixed location/name but updatable) as csv files. The pending list will be populated from a text file or by reading a directory.
  - Continuation: -> https://github.com/Pandora-IsoMemo/data-tools/issues/56

- **If, a covariate model is defined with a numeric variable** make the option available to display a smo

[2022-08-18 12:43] arunge commented on #43
@CarloCocozza Unfortunately, I cannot reproduce the issue.

Did you upload the data with a freshly started app?

Sometimes it helps to reload the app before uploading data. Updates of internal variables sometimes do not work as expected if one uploads data after already having calculated another model.

Understanding _all_ reactive values inside the app is impossible and controlling the expected b

[2022-08-18 12:43] #43 closed

[2022-08-18 14:06] arunge commented on #49
@isomemo With version 22.8.2 on the beta app I added scrolling to the left sidebar. However, this required to fix the hight of the sidebar which can lead to problems for smaller resolutions. Hopefully, the fix covers the most issues. If this is still an issue I must dive deeper into css code for shiny. The options given within shiny are limited.

[2022-08-18 14:06] #49 closed

[2022-08-18 14:11] arunge commented on #44
I merged a new [version 22.08.2](https://github.com/Pandora-IsoMemo/resources/pull/51#issue-1308337172) into the [beta branch](https://isomemoapp.com/app/resources-beta) fixing point 3 from above.

[2022-08-18 15:10] arunge opened #55 "Issue with links between targetNames, fractionNames, sourceNames, obsvnNames, offsetNames, targetValuesCovariatesNames"
@isomemo The name changes in point 6 would also affect other tables. Is this desired, (1), (2), (3)?

![image](https://user-images.githubusercontent.com/16759098/178254955-7fdb7a44-7771-448d-8d22-e24518b6212d.png)
![image](https://user-images.githubusercontent.com/16759098/178255154-7dfa754e-fd12-4c00-89e1-8bee4e9be2d1.png)

_Originally posted by @arunge in https://github.com/Pandora-IsoMemo/resou

[2022-08-18 15:21] arunge commented on #55
As noted before, there are links between several column and row names. This can be found here:

https://github.com/Pandora-IsoMemo/resources/blob/6b3d6d8f25a8658834af306ebaae18fcb829b72b/R/01-server.R#L190-L224

Regarding:

There are a lot of `if` clauses that must be taken into account to understand which names are used when. Unfortunately, these cannot just be "switched off".

@isomemo  Either w

[2022-08-18 15:24] arunge commented on #44
The open points 1 and point 6 are discussed in a new issue: https://github.com/Pandora-IsoMemo/resources/issues/55. I close here.

[2022-08-18 15:24] #44 closed

[2022-09-16 16:12] mbrabec1 opened #56 "Cannot run the example (or any other) model"
I choose Five Sources Data and Load selected model, then I press the Run button
There I get an error message window saying:
Could not run model. Received the following error: Error : failed to create the shared library. Run ‘printErrors()’ to see the compilation errors.
Details are in the attached Word file.
Thanks for help!
 mbrabec1
[ReSources actions.docx](https://github.com/Pandora-IsoMemo/res

[2022-09-21 09:19] arunge commented on #53
@CarloCocozza Sorry for the delay! I can confirm that there is currently an issue with some reactive behavior after I modularized some parts of the interface. I am working on a solution. Thank you for your patience!

[2022-09-21 16:10] mbrabec1 commented on #56
Dear Antonia,

here is the pdf of the document that was attached as a Word file.

All the Best

Marek

From: Antonia Runge ***@***.***>
Sent: Wednesday, September 21, 2022 6:05 PM
To: Pandora-IsoMemo/resources ***@***.***>
Cc: mbrabec1 ***@***.***>; Mention ***@***.***>
Subject: Re: [Pandora-IsoMemo/resources] Cannot run the example (or any other) model (Issue #56)

@mbrabec1 <https://github.com/m

[2022-09-21 20:28] arunge commented on #53
Looking deeper into the problem, this seems not to be related to the modularization of data inputs. I checked the dependencies and the updates of matrices are working as expected. It is very unlikely here, that if updates of matrices are not working for some tables that they are working for other tables. I also checked the upload of some example data, it works.
I checked the data of the first .zip

[2022-09-22 08:34] arunge commented on #56
Dear @mbrabec1,
it looks like you replied directly via e-mail. Unfortunately, the pdf was not attached to the issue in github. Could you please upload the pdf or the content directly into this issue?

[2022-09-22 10:26] mbrabec1 commented on #56
Here is the pdf.
All the Best
 Marek
[ReSources actions.pdf](https://github.com/Pandora-IsoMemo/resources/files/9624765/ReSources.actions.pdf)

[2022-09-26 19:46] CarloCocozza commented on #53
@arunge thanks!
Unfortunately I do not remember all the parameters used for this model as this was a test. If I face this bug again, I will open a new issue.

[2022-10-22 13:37] isomemo opened #58 "New bug: loop when deleting a column/row"
For this file:
[Cluster modelling.zip](https://github.com/Pandora-IsoMemo/resources/files/9844461/Cluster.modelling.zip)

I tried to delete the column named c13 by pressing the x to the right of the column's name:

![image](https://user-images.githubusercontent.com/46485054/197342148-cc5d7923-fdae-4e0e-8e85-ee3c6f5c01b3.png)

This launched a non-ending loop:

![image](https://user-images.githubuse

[2022-11-09 09:59] arunge commented on #53
Thanks for your patience, than I close here.

[2022-11-09 09:59] #53 closed

[2022-11-11 09:17] arunge commented on #34
With [version 22.11.1](https://github.com/Pandora-IsoMemo/resources/pull/59#issue-1443993766) on the [beta branch](https://isomemoapp.com/app/resources-beta) I was able to fix the issue with "disappearing" table values.

When changing the name of an observation, the labels of select inputs where updated but the internal names of the list object that stores the values remained unchanged. That is wh

[2022-11-11 09:18] arunge commented on #34
Update: currently the checks are still running, but the new version should be available soon.

[2022-11-11 09:35] arunge opened #60 "Resources: Deploy Changes from Beta into Main App"
The main was not updated for a while. In the meanwhile
- several bugs where fixed on the beta (#33, #44, #12, #49, #53, #43),
- and some features were added (#42, #23)

However, [updates regarding oxcal](https://github.com/Pandora-IsoMemo/resources/issues/7#issuecomment-1160824874) were added but are not finished yet. On the other side, this is also not working as expected on the Main version.

@i

[2022-11-11 10:07] arunge opened #62 "Bug when uploading data"
While trying to upload [Tertiveri Model.zip](https://github.com/Pandora-IsoMemo/resources/files/8844377/Tertiveri.Model.zip) for #32 with the new version 22.11.1 the loading did not finish. There must be a loop somewhere.

[2022-11-11 10:40] arunge commented on #62
Checks are running, fix is on its way.

[2022-11-11 10:40] #62 closed

[2022-11-11 12:54] arunge commented on #32
I checked the issue here and could reproduce it. However, there is no interface related issue here.
And @mgross explained [above](https://github.com/Pandora-IsoMemo/resources/issues/32#issuecomment-1172298506) that the model was not used correctly.

@CarloCocozza Is there any open point here? As far as I see, I can close here. Please feel free to re-open the ticket if there is something left and l

[2022-11-11 12:54] #32 closed

[2022-11-11 13:42] arunge commented on #25
@isomemo I checked the steps in the video.

With [version 22.6.4.2 on the main](https://isomemoapp.com/app/resources) I could reproduce the error:

![image](https://user-images.githubusercontent.com/16759098/201351544-2e852fe3-86b4-4e97-b142-03561d7d2be9.png)

With [version 22.11.2 on the beta branch](https://isomemoapp.com/app/resources-beta) I could not reproduce it:

![image](https://user-image

[2022-11-11 13:42] #25 closed

[2022-11-11 13:48] arunge commented on #36
@CarloCocozza is there still any open question here? If not, feel free to close the issue.

[2022-11-14 10:13] arunge commented on #58
@isomemo I think we must discuss, how to solve the issue here.

The loop occurs because the tables **are** independent but the column and row names **cannot be** independent.

Row/column names are required to correctly match the data between the target's table and the sources/concentrations tables. The names are needed to select (via the select input) the desired table in sources/concentrations. T

[2022-11-17 14:51] isomemo opened #64 "URGENT: bug entering values"
@arunge

See the video: https://youtu.be/nPWeLkAU4u0

[2022-11-17 15:25] arunge commented on #64
@isomemo I prepared a fix for this issue, currently some automatic checks are running. I can merge after they passed.

[2022-11-17 20:06] arunge commented on #64
@isomemo  The fix is online with version [22.11.3on beta](https://isomemoapp.com/app/resources-beta).

[2022-11-17 20:06] #64 closed